@*@{Layout = null;}*@

<div class="bg-dark">

    <div class="container p-4">
        <h1 style="color:white; text-align:center">
            Mohon Maaf, Website Masih dalam Tahap Pengerjaan
        </h1>

        <img src="~/images/PrimaDMI/mnt.jpg" />

    </div>

</div>